{% extends 'base.html.twig' %}

{% block body %}
    {% spaceless %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-5">Nelmio 404</h1>
                <p>
                    Hello. This is some intro text
                </p>
            </div>
        </div>
        <main role="main" class="container"></main>
        <script type="text/javascript">
            var comment = "This should trigger unsafe-inline.";
        </script>
        <!-- /.container -->
    {% endspaceless %}
{% endblock %}
